/* Social media icons */
.social-item {
  width: 50px;
  height: 50px;
  display: flex;
  margin-top: 20%;
  border: 2px solid;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

/* Header bottom left corner */
.container-fluid {
  border-bottom-left-radius: 10rem;
}

/* User photo */
.user-photo {
  border: 10px solid #dfdfdf;
}

/* Image shadow */
.image-shadow {
  left: 68%;
  top: 117%;
  width: 26%;
  z-index: -1;
  height: 74%;
  position: absolute;
}

/* Image shadow 
.image-shadow {
  top: 900px;
  z-index: -1;
  width: 400px;
  left: 1100px;
  height: 570px;
  position: absolute;
} */

/* Headings background */
.heading-shadow {
  padding-top: .2em;
  background-repeat: no-repeat;
  background: url(../images/txt-shadow.png);
}

/* Progress bar */
.progress {
  width: 90%;
  height: 10px;
  border-radius: 0;
}

/* Hovering cards */
.card-hover:hover {
  cursor: pointer;
  transition: all 200ms;
  box-shadow: 0 1em 1em #0001;
  background: white !important;
}

/* Project cover images */
.grid img {
  width: 100%;
}

.filters span {
  cursor: pointer;
}

/* Slide & Swiper styles */

/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.slider-body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  background-color: #EFEFEF;
  font-family: 'Poppins', sans-serif;
}

.slide-container {
  width: 100%;
  padding: 40px 0;
  max-width: 1120px;
}

.slide-content {
  margin: 0 40px;
  overflow: hidden;
}

.card {
  padding: 30px;
  background: #FFF;
}

.card-content {
  display: flex;
  padding: 10px 10px;
  align-items: center;
  flex-direction: column;
}

.description {
  font-size: 18px;
  color: #707070;
  text-align: center;
}

.swiper-navBtn:hover {
  color: #040505;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

.swiper-pagination-bullet {
  opacity: 1;
  background-color: #090a0b;
}

.swiper-pagination-bullet-active {
  background-color: #010101;
}

@media screen and (max-width: 768px) {
  .slide-content {
    margin: 0 10px;
  }

  .swiper-navBtn {
    display: none;
  }
}