/* Social media icons */
.social-item {
  border: 2px solid;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin-top: 20%;
}

/* Header bottom left corner */
.container-fluid {
  border-bottom-left-radius: 10rem;
}

/* User photo */
.user-photo {
  border: 10px solid #dfdfdf;
}

/* Image shadow */
.image-shadow {
  position: absolute;
  width: 26%;
  height: 74%;
  left: 68%;
  top: 117%;
  z-index: -1;
}

/* Image shadow 
.image-shadow {
  position: absolute;
  width: 400px;
  height: 570px;
  left: 1100px;
  top: 900px;
  z-index: -1;
} */

/* Headings background */
.heading-shadow {
  background: url(images/txt-shadow.png);
  background-repeat: no-repeat;
  padding-top: .2em;
}

/* Progress bar */
.progress {
  width: 90%;
  height: 10px;
  border-radius: 0;
}

/* Hovering cards */
.card-hover:hover {
  background: white !important;
  box-shadow: 0 1em 1em #0001;
  transition: all 200ms;
  cursor: pointer;
}

/* Project cover images */
.grid img {
  width: 100%;
}

.filters span {
  cursor: pointer;
}